{% extends 'base.html.twig' %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent() }}pagina-1{% endblock %}

{% block body %}


    <body>
    <div class="container">
        <h2>Find admin</h2>
        <div class="container">
            {{ form_start(formAdmin, {'method': 'POST'}) }}
{#            <div class="row">#}
{#                <div class="col-md-6 mb-3">#}
{#                    {{ form_label(formul.nombre) }}#}
{#                    {{ form_widget(formul.nombre, { 'attr': {'class': 'form-control','placeholder':usuario.nombre,'id':'validationCustom01'} }) }}#}
{#                </div>#}
{#                <div class="col-md-6 mb-3">#}
{#                    {{ form_label(formul.mail) }}#}
{#                    {{ form_widget(formul.mail, { 'attr': {'class': 'form-control','placeholder': usuario.mail,'id':'validationCustom02' }}) }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-md-6 mb-3">#}
{#                    {{ form_label(formul.adress) }}#}
{#                    {{ form_widget(formul.adress, { 'attr': {'class': 'form-control','placeholder': usuario.adress,'id':'validationCustom03' }}) }}#}
{#                </div>#}
{#                <div class="col-md-3 mb-3">#}
{#                    {{ form_label(formul.phone) }}#}
{#                    {{ form_widget(formul.phone, { 'attr': {'class': 'form-control','placeholder': usuario.phone,'id':'validationCustom04' }}) }}#}
{#                </div>#}
{#                <div class="col-md-3 mb-3">#}

{#                    {{ form_label(formul.tipo) }}#}
{#                    {{ form_widget(formul.tipo, { 'attr': {'class': 'form-control','id':'validationCustom05' }}) }}#}
{#                </div>#}
{#            </div>#}
{#            {{ form_widget(formul.enviar, { 'attr': {'class': 'btn btn-primary','id':'validationCustom05' }}) }}#}
            {{ form_end(formAdmin) }}
        </div>
            <hr>
        <a href="{{path('index')}}"><button class="btn btn-dark">Inicio</button></a>
        </div>


    </div>
    </body>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

