{% extends 'base.html.twig' %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent() }}pagina-1{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <h2>Find admin</h2>
        <div class="container">
            {{ form_start(formAdmin, {'method': 'POST'}) }}
            {{ form_end(formAdmin) }}
        </div>
        <hr>
        <a href="{{path('index')}}"><button class="btn btn-dark">Inicio</button></a>
        </div>
    </div>
    </body>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

