{% extends 'base.html.twig' %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}{{ parent() }}pagina-1{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<body>
<div class="container">
<hr>
<div class="example-wrapper">
{% for m in app.flashes('mensaje') %}
    <div class="alert-success">{{ m }}</div>
    {% endfor %}
    <h1>Prueba de usuarios con synfony ✅  <scan style="font-size: 40%;color:grey">Fecha:{{ "now"|date("d/m/Y") }}</scan></h1><br>
  <h2>GESTIÓN DE USUARIOS</h2>

    <a href="{{path('pagina3',{'nom':'Bienvenido'})}}"><button class="btn btn-success">LISTADO DE USUARIOS</button></a>
    <a href="{{path('administrador')}}"><button class="btn btn-primary">LISTADO DE ADMINISTRADORES</button></a>
    <a href="{{path('info',{'nombre':'javi','apellidos':'orti'})}}"><button class="btn btn-dark">INFORMACIÓN</button></a>
    <hr>
    <a href="{{path('index')}}"><button class="btn btn-dark">Busqueda por codigo</button></a><br>
    {{ form_start(formCode, {'method': 'POST'}) }}
    {{ form_end(formCode) }}

    <p style='color:blue;'>{{ app.request.get('nombre') }}</p>

    {% for nom in nombre %}
    {{ nom.nombre }}
    {% endfor %}





</div>

<hr>
</div>
</body>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

